# Базовый веб-стек для запуска main.py в обоих сервисах
fastapi==0.110.0
uvicorn==0.28.0
pydantic==2.6.4

# Интеграция с S3 / MinIO (активно используется в uploader, не мешает в security)
boto3==1.34.69
botocore==1.34.69

# Инструменты для тестирования API и автоматизации скриптов
pytest==8.1.1
requests==2.31.0
urllib3==2.2.1
PyYAML==6.0.1
docker==7.0.0
